<form class="form" [formGroup]="routineForm">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Routine name" formControlName="name">
  </div>
  <div class="groups" formArrayName="exercises">
    <ngb-accordion #a="ngbAccordion" activeIds="custom-panel-1">
      <ngb-panel id="custom-panel-{{i}}"  class="routineGroup" *ngFor="let group of groups.controls; let i=index">
        <ng-container [formGroupName]="i">
          <ng-template ngbPanelHeader let-opened="opened">
            <div class="d-flex align-items-center justify-content-between">
              <div class="input-group m-0 group-name">
                <input type="text" class="form-control" placeholder="Group name" formControlName="name">
              </div>
              <button ngbPanelToggle class="btn btn-link p-0">Collapse</button>
              <button ngbPanelToggle class="btn btn-link p-0" (click)="deleteGroup(i)">Delete group</button>
            </div>
          </ng-template>
          <ng-template ngbPanelContent>
            <div formArrayName="exercises">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Number of reps</th>
                  <th scope="col">Rest time</th>
                  <th scope="col">
                    <button class="btn btn-success" >
                      <fa-icon  (click)="addExercise(i)" [icon]="addIcon"></fa-icon>
                    </button>
                  </th>
                </tr>
                </thead>
                <tbody>

                <tr *ngFor="let exercise of group.controls.exercises.controls; let j=index">
                  <ng-container [formGroupName]="j">
                    <th scope="row">{{ j + 1 }}</th>
                    <td>
                      <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Exercise name" formControlName="name">
                      </div>
                    </td>
                    <td>
                      <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Number of reps" formControlName="nbOfReps">
                      </div>
                    </td>
                    <td>
                      <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Rest time" formControlName="restAfterExercise">
                      </div>
                    </td>
                    <!--<td>
                      <button class="btn btn-danger" (click)="deleteExercise(i,j)">Delete</button>
                    </td>-->
                  </ng-container>
                </tr>
                </tbody>
              </table>
            </div>
          </ng-template>
        </ng-container>
      </ngb-panel>
      <ngb-panel id="custom-panel-last">
        <ng-template ngbPanelHeader let-opened="opened">
          <div class="d-flex align-items-center justify-content-between">
            <button class="btn btn-link p-0" (click)="addGroup()">New group</button>
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>

  <button class="btn btn-success"  type="submit" [disabled]="!routineForm.valid">Submit</button>
</form>
