<ng-container *ngIf="exerciseRun">
  <div id="globalTimer">
    <app-global-timer></app-global-timer>
  </div>

  <div class="exercise" *ngIf="displayCurrent && currentExercise">
    <div class="exerciseType">Current exercise</div>
    <div class="exerciseLabel">
      <div class="exerciseName">{{ currentExercise.name }}</div>
      <div class="exerciseIteration">{{ currentExercise.nbOfReps }}</div>
    </div>
  </div>

  <div class="exercise" *ngIf="!displayCurrent && nextExercise">
    <div class="exerciseType">Next exercise</div>
    <div class="exerciseLabel">
      <div class="exerciseName">{{ nextExercise.name }}</div>
      <div class="exerciseIteration">{{ nextExercise.nbOfReps }}</div>
    </div>
  </div>

  <div class="restTimer">
    <app-rest-timer
      (restTimeEnded)="restTimeEnded()"
      (timerStarted)="timerStarted()"
      [exerciseRestTime]="currentRestTime"
    ></app-rest-timer>
  </div>
</ng-container>
