<div id="routineCompo">
    <div id="routine_header">
        <h3>{{this.routine.name}}</h3>
        <fa-icon [icon]="faArrow"></fa-icon>
    </div>
    <div id="routine_body">

        <ngb-accordion *ngFor="let groupExercice of routine.exercises" class="groupEx">
            <ngb-panel title="{{groupExercice.name}}">
                <ng-template ngbPanelContent>
                    
                    <div class="oneExercise" *ngFor="let exercise of groupExercice.exercises">
                        <div>
                            <div class="exerciceRepeat">{{exercise.nbOfReps}}</div>
                            <div class="exerciceName">{{exercise.name}}</div>
                        </div>
                        <div>
                            <fa-icon [icon]="faHourGlass"></fa-icon>
                            <div class="exerciceRest">{{exercise.restAfterExercise}}</div>
                        </div>

                    </div>

                </ng-template>
            </ngb-panel>
        </ngb-accordion>

    </div>
</div>


<fa-icon [icon]="faArrow"  class="float-launch"></fa-icon>