<div id="goAccueil">
  <a routerLink="/" routerLinkActive="active">
    <fa-icon [icon]="homeIcon" class="float-home-icon"></fa-icon>
  </a>
</div>
<hr />
<form class="form" [formGroup]="workoutForm">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Workout name" formControlName="name" />
  </div>
  <div class="groups" formArrayName="groups">
    <ngb-accordion #a="ngbAccordion" activeIds="custom-panel-1">
      <ngb-panel id="custom-panel-{{ i }}" class="workoutGroup" *ngFor="let group of groups.controls; let i = index">
        <ng-container [formGroupName]="i">
          <ng-template ngbPanelHeader let-opened="opened">
            <div class="d-flex align-items-center justify-content-between">
              <div class="input-group m-0 group-name">
                <input type="text" class="form-control" placeholder="Group name" formControlName="name" />
              </div>
              <button ngbPanelToggle class="btn btn-link p-0">Collapse</button>
              <button ngbPanelToggle class="btn btn-link p-0" (click)="deleteGroup(i)">Delete group</button>
            </div>
          </ng-template>
          <ng-template ngbPanelContent>
            <div formArrayName="exercises">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Number of reps</th>
                    <th scope="col">Rest time (seconds)</th>
                    <th scope="col">
                      <button class="btn btn-success" (click)="addExercise(i)">
                        <fa-icon [icon]="addIcon"></fa-icon>
                      </button>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let exercise of group.controls.exercises.controls; let j = index">
                    <ng-container [formGroupName]="j">
                      <th scope="row">{{ j + 1 }}</th>
                      <td>
                        <select class="custom-select" formControlName="name">
                          <option *ngFor="let ex of exercises" value="{{ ex.name }}">{{ ex.name }}</option>
                        </select>
                      </td>
                      <td>
                        <div class="input-group mb-3">
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Number of reps"
                            formControlName="nbOfReps"
                          />
                        </div>
                      </td>
                      <td>
                        <div class="input-group mb-3">
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Rest time"
                            formControlName="restAfterExercise"
                          />
                        </div>
                      </td>
                      <td>
                        <button class="btn btn-danger" (click)="deleteExercise(i, j)">
                          <fa-icon [icon]="deleteIcon"></fa-icon>
                        </button>
                      </td>
                    </ng-container>
                  </tr>
                </tbody>
              </table>
            </div>
          </ng-template>
        </ng-container>
      </ngb-panel>
      <ngb-panel id="custom-panel-last">
        <ng-template ngbPanelHeader let-opened="opened">
          <div class="d-flex align-items-center justify-content-between">
            <button class="btn btn-link p-0" (click)="addGroup()">New group</button>
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
  <button class="btn btn-success" (click)="createWorkout()" [disabled]="!workoutForm.valid">Create workout</button>
</form>
