@import '../../styles.scss';
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: 1rem auto;

  .group-name {
    text-align: center;
    border-bottom: 8px;
  }
}

.groups {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 1rem auto;
}

//Acordion modifications
::ng-deep .card {
  margin-bottom: 10px;
  background-color: $main-theme-color;

  .card-header button {
    font-variant: small-caps;
    font-size: 18px;
    text-decoration: none;
  }

  .card-body {
    color: $main-theme-light;
  }
}

.exerciceName {
  text-align: center;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: bold;
}

.oneExercise .descriptionExercice {
  display: flex;
  justify-content: space-between;

  div {
    display: inline-block;
    fa-icon {
      margin-right: 8px;
      color: $main-theme-title;
    }

    .iconDeleteExercice {
      color: darkred;
      font-size: 22px;
      cursor: pointer;
    }
    .iconEditExercice {
      color: darkgreen;
      font-size: 22px;
    }
  }

  .exerciceRepeat {
    font-family: $number-font;
    font-size: 18px;
    margin-right: 8px;
    &::after {
      content: 'x';
    }
  }

  .exerciceRest::after {
    content: 's';
  }
}

.groupeNameWorkout {
  color: $main-theme-light;
  font-size: 22px;
  font-variant: small-caps;
  padding-bottom: 15px;
}
