<div id="goAccueil">
  <a routerLink="/" routerLinkActive="active">
    <fa-icon [icon]="homeIcon" class="float-home-icon"></fa-icon>
  </a>
</div>
<hr />

<form class="form" [formGroup]="workoutForm">
  <div class="input-group mb-3">
    <input
      maxlength="25"
      type="text"
      class="form-control"
      placeholder="Workout name"
      formControlName="name"
      value="{{ editWorkout.name }}"
    />
  </div>

  <div class="groups" formArrayName="groups">
    <ngb-accordion #a="ngbAccordion" activeIds="custom-panel-1">
      <!-- Pour chaque groupe -->
      <ngb-panel id="custom-panel-{{ i }}" class="workoutGroup" *ngFor="let group of editWorkout.groups; let i = index">
        <ng-container [formGroupName]="i">
          <ng-template ngbPanelHeader let-opened="opened">
            <div>
              <div class="m-0 group-name groupeNameWorkout">{{ group.name }}</div>

              <div class="d-flex align-items-center justify-content-between">
                <button ngbPanelToggle class="btn btn-link p-0">Collapse</button>
                <button class="btn btn-success" (click)="addExercise(i)">
                  <fa-icon [icon]="addIcon"></fa-icon>
                </button>
                <button class="btn btn-danger" (click)="deleteGroup(i)">
                  <fa-icon [icon]="deleteIcon"></fa-icon>
                </button>
              </div>
            </div>
          </ng-template>

          <ng-template ngbPanelContent>
            <div class="oneExercise" *ngFor="let exercise of group.exercises; let j = index">
              <div class="exerciceName">{{ exercise.name }}</div>
              <div class="descriptionExercice">
                <div class="exerciceRepeat">{{ exercise.nbOfReps }}</div>
                <div>
                  <fa-icon [icon]="faHourGlass"></fa-icon>
                  <div class="exerciceRest">{{ exercise.restAfterExercise }}</div>
                </div>
                <div>
                  <!-- <fa-icon class="iconEditExercice" [icon]="editIcon"></fa-icon> -->
                  <fa-icon class="iconDeleteExercice" [icon]="deleteIcon" (click)="deleteExercise(i, j)"></fa-icon>
                </div>
              </div>
              <hr />
            </div>
          </ng-template>
        </ng-container>
      </ngb-panel>
      <ngb-panel id="custom-panel-last">
        <ng-template ngbPanelHeader let-opened="opened">
          <div class="d-flex align-items-center justify-content-between">
            <button class="btn btn-link p-0" (click)="addGroup()">New group</button>
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
  <button class="btn btn-success" (click)="createWorkout()" [disabled]="!workoutForm.valid">Create workout</button>
</form>
