@import "../../styles.scss";

#workoutCompo{

    padding: 15px;
    margin: 15px;
    border: 1px solid $main-theme-light;
    background-color: $main-theme-secondary;
    border-radius: 5px;

    #workoutHeader{
        border-bottom: 2px dashed $main-theme-light;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;

        color:$main-theme-title;

        fa-icon{
            font-size: 25px;
            cursor: pointer;
        }
    }

    .oneExercise{
        display: flex;
        justify-content: space-between;

        div{
            display: inline-block;
            fa-icon{
                margin-right: 8px;
                color:$main-theme-title;
            }
        }

        .exerciceRepeat{
            font-family: $number-font;
            font-size: 18px;
            margin-right: 8px;
            &::after{content: 'x';}
        }

        .exerciceRest::after{content : "s";}
    }
}


.float-launch{
	position:fixed;
    bottom:30px; right:30px;
    font-size: 55px;
    color:$main-theme-title;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.5s;

    &:hover,&:active{
        opacity: 1;
        transition: 0.5s;
    }
}

//Acordion modifications
::ng-deep .card {
  margin-bottom: 10px;
  background-color: $main-theme-color;

  .card-header button{
        font-variant: small-caps;
        font-size: 20px;
        color:$main-theme-title;
        text-decoration: none;
    }

    .card-body{
        color:$main-theme-light;
    }


}
