<div id="listRoutineTopBar">   
    <div id="searchMenu"  class="form-group">
            <input  id="searchBar" type="text"  class="form-control"
            placeholder="Search in your routines...." aria-label="Search"
             (input)="updateRoutines($event.target.value)" >
    </div>
    <a routerLink="create-routine"> <button class="btn">+</button> </a>
</div>

<div id="listRoutine">
    <div *ngFor="let routine of _routines">
        <a routerLink="/routine/{{routine.id}}"  routerLinkActive="active">
            <div class="oneRoutine align-middle">{{routine.name}}</div>
        </a>
    </div>
</div>